
    /*general */

.d-flex {
    display: flex;
}
.f-col {
    flex-direction: column;
}
.flex-1 {
    flex: 1
}

    /*general */


    .container {
        width: 80%;
        margin: 20px auto;
        background-color: darkgrey;
        border: 3px solid black;
        height: 80vh;
        border-radius: 25px;
        text-align: center;
        padding: 50px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-image: url("https://tickets.paysera.com/public/images/clkgv589p0004356y68y5wpiv/jungle-king_lt__1690885829.jpeg?db339842d3d9714cee23c6cb1568dc48");
    }
    .login input {
          font-size: 2em;
          padding: 10px;
          margin: 10px;
      }

    .login button{
        font-size: 2em;
        padding:10px 30px;
        margin: 10px;
    }
    .avatars {
        padding: 0 200px;
        justify-content: center;
        flex-wrap: wrap;
    }
    .avatar {
        border: 3px solid black;
    }

    .avatars img {
        max-height: 100px;
        max-width: 100px;
    }
